<app-subheader></app-subheader>

<div class="mainbody"> 
  <div class="shoplist"> 
  
    <ul class="contacts">
      <li>     
        <img src="https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg" class="post_img">      
<div class="d-flex post-footer">          
          <div class="user_info"><textarea  rows="2"> </textarea></div>                     
        </div>
  <div class="fullbutton">

    <div class="imageframeshort">
      <!-- <button (click)="uploadimage()" id="uploadbtn" type="button" class="btn btn-dark"><i class="fa fa-upload"></i> Upload Image </button> -->
      </div>
           
          </div> 
      </li>
      </ul>
  </div>
  
</div>

<app-footer></app-footer>



