<div class="footer">
  <ul>
    <li>
      <a routerLink="/home"
        ><i class="fa fa-home" aria-hidden="true"></i>
        <p>Home</p>
      </a>
    </li>
    <!-- <li>
      <a routerLink="/wallet"><i class="fa fa-money" aria-hidden="true"></i>
        <p>Wallet</p>
      </a>
    </li> -->
    <li>
      <a routerLink="/products"
        ><i class="fa fa-gift" aria-hidden="true"></i>
        <p>Product</p></a
      >
    </li>
    <li>
      <a routerLink="/orderlist"
        ><i class="fa fa-balance-scale" aria-hidden="true"></i>
        <p>Order List</p>
      </a>
    </li>
    <li>
      <!--<a routerLink="/money">-->

      <a routerLink="/offer">
        <i class="fa fa-th-large" aria-hidden="true"></i>
        <p>Offer</p>
      </a>
    </li>

    <li>
      <a routerLink="/appads"
        ><i class="fa fa-bullhorn" aria-hidden="true"></i>
        <p>Ads</p></a
      >
    </li>
    <!-- <li>
      <a routerLink="/business"
        ><i class="fa fa-suitcase" aria-hidden="true"></i>
        <p>Business</p>
      </a>
    </li> -->

    <!-- <li>
      <a routerLink="/reports"
        ><i class="fa fa-file" aria-hidden="true"></i>
        <p>Reports</p>
      </a>
    </li> -->
  </ul>
</div>
