.customerlist {
    margin-top: 42px;
}
.green h5{color: green;}
.red h5{color: red;}
.homesec2 .has-search{margin-right: 0px;}
.customerlist li h5 {
    font-size: 14px; margin-top: 10px;  font-weight: bold;
  }

  .customerlist li p{margin-bottom: 6px; color: #000;}