<!-- <app-subheader></app-subheader> -->
<div class="wrapper">
  <!-- Sidebar  -->
  <div class="overlay"></div>
  <div id="content">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <div class="leftside">
          <div id="sidebarCollapse" routerLink="/home">
            <i class="fa fa-arrow-left" aria-hidden="true"></i>
          </div>
          <div class="name text-left appsnametop">&nbsp; Category List</div>
        </div>

        <!-- *ngIf="showMenu" -->

        <ul class="homeheader" *ngIf="showMenu">
          <li (click)="editcategory()">
            <i class="fa fa-pencil" aria-hidden="true"></i>
          </li>
          <li (click)="deletecategory()">
            <i class="fa fa-trash" aria-hidden="true"></i>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>
<div class="mainbody">
  <div class="customerlist customersale">
    <div *ngIf="loaded">
      <ul *ngIf="categorydata.length > 0" class="categoryimage">
        <li
          *ngFor="let data of categorydata"
          appLongPress
          (longPress)="onLongPress(data)"
          [ngClass]="category_id == data.category_id ? 'selectedProduct' : ''"
        >
          <div class="imagebox">
            <img
              *ngIf="data.image_name"
              src="https://gbosss.com/assets/images/gallery/{{
                data.image_name
              }}"
              (click)="categoryimageadd(data.category_id)"
              onError="this.src='assets/images/demo.jpg'"
              height="90px"
            />
            <img
              *ngIf="!data.image_name"
              src="assets/images/demo.jpg"
              (click)="categoryimageadd(data.category_id)"
              height="90px"
            />

            <h5>{{ data.category_name }}</h5>
          </div>
        </li>
      </ul>
      <div *ngIf="categorydata.length == 0">No Record Founded</div>
    </div>
    <ion-grid *ngIf="!loaded">
      <ion-row>
        <ion-col
          ><ion-thumbnail style="height: 100px; width: 100%">
            <ion-skeleton-text
              [animated]="true"
            ></ion-skeleton-text> </ion-thumbnail
        ></ion-col>
        <ion-col
          ><ion-thumbnail style="height: 100px; width: 100%">
            <ion-skeleton-text
              [animated]="true"
            ></ion-skeleton-text> </ion-thumbnail
        ></ion-col>
        <ion-col
          ><ion-thumbnail style="height: 100px; width: 100%">
            <ion-skeleton-text
              [animated]="true"
            ></ion-skeleton-text> </ion-thumbnail
        ></ion-col>
      </ion-row>
      <ion-row>
        <ion-col
          ><ion-thumbnail style="height: 100px; width: 100%">
            <ion-skeleton-text
              [animated]="true"
            ></ion-skeleton-text> </ion-thumbnail
        ></ion-col>
        <ion-col
          ><ion-thumbnail style="height: 100px; width: 100%">
            <ion-skeleton-text
              [animated]="true"
            ></ion-skeleton-text> </ion-thumbnail
        ></ion-col>
        <ion-col
          ><ion-thumbnail style="height: 100px; width: 100%">
            <ion-skeleton-text
              [animated]="true"
            ></ion-skeleton-text> </ion-thumbnail
        ></ion-col>
      </ion-row>
    </ion-grid>

    <div class="buttombar">
      <button class="box box1" routerLink="/addcategory">+</button>
    </div>
  </div>
</div>

<app-footer></app-footer>
