<app-header></app-header>
<div class="mainbody">
  <div class="container">

    <div style="text-align: center;" class="image-container">
      <canvas #canvas width="1024" height="1024" style="max-width: 100%;">

       <img [src]="backgroundImage" alt="Background Image" class="background-image"> 
  
        <div class="overlay-text" style="margin-top: 100px; margin-left: 200px;"> llllllllllllllllll</div>

      </canvas>
    </div>

    
 

</div>
<ion-button expand="full" (click)="saveImage()">Save Image</ion-button>
<!-- Controls for changing text properties -->


</div>



<app-footer></app-footer>
