<app-subheader></app-subheader>
<div class="mainbody">
  <div *ngIf="loaded">
    <div class="" *ngIf="image">
      <div class="imageframe">
        <div class="uploadimage" (click)="setOpen(true)">
          <i class="fa fa-image" aria-hidden="true"></i>
        </div>
        <img height="50%" *ngIf="image" src="{{ image }}" />
      </div>
      <!--
      <img src="https://gbosss.com/assets/images/gallery/{{ data.image_name }}">
      <div class="imageframeshort">
      <div class="shortimage"></div>
      <div class="shortimage"></div>
      <div class="shortimage"></div>
    </div>-->
      <div class="prodeuctdetails">
        <h5>{{ name }}</h5>
        <p class="price">
          <span class="saleprice">&#8377; {{ online_price }}</span>
          <span class="mrp">&#8377; {{ mrp_rate }}</span>
        </p>
        <div
          *ngIf="
            prdctdetails !== null &&
            prdctdetails !== undefined &&
            prdctdetails !== 0
          "
        >
          <h6 >Product Details</h6>
          <p class="details">
            {{ prdctdetails }}
          </p>
        </div>
      </div>

      <!-- <div class="buttombar">
        <div class="box box1">
          (click)="share() 
          <i class="fa fa-share-alt" aria-hidden="true"></i> Share
        </div>
        <div class="box box2" (click)="editproduct()">
          <i class="fa fa-pencil" aria-hidden="true"></i> Edit
        </div>
        <div
          class="box box3"
          *ngIf="status == 1"
          (click)="activedeactiveproduct(0)"
        >
          <i class="fa fa-thumbs-up" aria-hidden="true"></i> Active
        </div>

        <div
          class="box btn btn-danger"
          *ngIf="status == 0"
          (click)="activedeactiveproduct(1)"
        >
          <i class="fa fa-thumbs-down" aria-hidden="true"></i> InActive
        </div>
      </div> -->
    </div>
    <div *ngIf="productdata.length == 0">No Record Founded</div>

    <ion-modal class="custom-modal" [isOpen]="isModalOpen">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-title>Upload Product Image</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="setOpen(false)">Close</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">
          <ion-card>
            <ion-card-content>
              <form (ngSubmit)="onSubmit()">
                <label for="fileInput" class="custom-file-upload">
                  <span>Select Product Image</span>
                </label>
                <input
                  type="file"
                  id="fileInput"
                  (change)="onFileSelected($event)"
                  accept=".jpg, .png"
                  style="display: none"
                />
                <br />
                <button type="submit" class="btn btn-success">
                  Upload Image
                </button>
              </form>
            </ion-card-content>
          </ion-card>
        </ion-content>
      </ng-template>
    </ion-modal>
  </div>
  <ion-list style="padding-top: 50px" *ngIf="!loaded">
    <ion-grid>
      <ion-row>
        <ion-col
          ><ion-thumbnail style="height: 300px; width: 100%">
            <ion-skeleton-text
              [animated]="true"
            ></ion-skeleton-text> </ion-thumbnail
        ></ion-col>
      </ion-row>
    </ion-grid>
    <ion-item>
      <ion-label>
        <h3>
          <ion-skeleton-text
            [animated]="true"
            style="width: 80%"
          ></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text
            [animated]="true"
            style="width: 60%"
          ></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-col
        ><ion-thumbnail style="height: 50px; width: 100%">
          <ion-skeleton-text
            [animated]="true"
          ></ion-skeleton-text> </ion-thumbnail
      ></ion-col>
      <ion-col
        ><ion-thumbnail style="height: 50px; width: 100%">
          <ion-skeleton-text
            [animated]="true"
          ></ion-skeleton-text> </ion-thumbnail
      ></ion-col>
      <ion-col
        ><ion-thumbnail style="height: 50px; width: 100%">
          <ion-skeleton-text
            [animated]="true"
          ></ion-skeleton-text> </ion-thumbnail
      ></ion-col>
    </ion-item>
  </ion-list>
</div>
<app-footer></app-footer>
