.fullbutton{background: none;}
.save {background: #003c8a;color: #fff;padding: 5px 20px;border: 0px;cursor: pointer; margin-right: 5px;}
.savesale{padding: 5px 20px;border: 0px;cursor: pointer; margin-left: 2px;}
.fullbutton input[type="submit"] {margin-right: 5px;}
.customeradd {margin: 44px 0 0px;}
.clear{width: 100%; height: 20px;}
#address,#email,#name{
    border-bottom: solid 1px #dddada !important;
}