.fullbutton{background: none;}
.save {background: #003c8a;color: #fff;padding: 5px 20px;border: 0px;cursor: pointer;}
.savesale{padding: 5px 20px;border: 0px;cursor: pointer; margin-left: 2px;}
.customeradd {margin: 45px 0 0px;}
.fullbutton input[type="submit"]{margin-right: 5px;}
#address,#email,#name{
    border-bottom: solid 1px #dddada !important;
}