.ads,.ads img{width: 100%; height: 70px;}

.enquiry,.enquiry img{width: 100%; height: 186px;}

.mainbody {
    margin-bottom: 60px;
  }
  .set1{display: flex;}
  .set1 h6{width: 40%; margin-top: 10px;}
#time-button{display: none;}