<div class="wrapper">
  <!-- Sidebar  -->
  <div class="overlay"></div>
  <nav id="sidebar">
    <div id="dismiss"><i class="fa fa-arrow-left" aria-hidden="true"></i></div>
    <div class="sidebar-header"></div>
    <ul class="list-unstyled components">
      <p>Order Bharat Business</p>
      <li class="active">
        <a routerLink="/home" data-toggle="collapse" aria-expanded="false"
          >Home</a
        >
      </li>
      <li>
        <a href="#">About</a>
        <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false"
          >Pages</a
        >
      </li>
      <li><a href="#">Portfolio</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
    <ul class="list-unstyled CTAs">
      <li><a href="" class="download">Logout</a></li>
    </ul>
  </nav>
  <div id="content">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <div id="sidebarCollapse">
          <i class="fa fa-align-justify" aria-hidden="true"></i>
        </div>
        <div class="name text-left appsnametop">&nbsp; Order Bharat</div>
        <ul class="homeheader">
          <li>
            <i class="fa fa-star" aria-hidden="true" style="color: #ffa700"></i>
          </li>
          <li routerLink="/home">
            <i class="fa fa-arrow-left" aria-hidden="true"></i>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>
