<app-subheader></app-subheader>
<div class="wrapper">
  <div class="mainbody">
    <div class="topset">
      <h5>Dhar Madical</h5>
      <div class="hometopbox">
        <div class="sectiontop">
          <div class="box">
            <h4>1000</h4>
            <p>Total Products</p>
          </div>
          <div class="box">
            <h4>599</h4>
            <p>Available Stock</p>
          </div>
          <div class="box">
            <h4>401</h4>
            <p>Out of Stock</p>
          </div>
        </div>
      </div>
      <div class="homesec2">
        <div class="form-group has-search">
          <span class="fa fa-search form-control-feedback"></span>
          <input type="text" class="form-control" placeholder="Customer Name" />
        </div>
        <ul>
          <li><i class="fa fa-filter" aria-hidden="true"></i></li>
        </ul>
      </div>
    </div>
    <div class="contactslist">
      <ul>
        <li>
          <div class="text">
            <h5>Rama Sen</h5>
            <p><strong>Price: &#8377; 7,200.00</strong></p>
            <p>O.No:1000007</p>
            <p>O.Date:10-2-2021</p>
          </div>
          <div class="right">
            <button type="button" class="btn btn-success">
              Delivered<br />Pending
            </button>
          </div>
        </li>
        <li>
          <div class="text">
            <h5>Bimal Pal</h5>
            <p><strong>Price: &#8377; 2,300.00</strong></p>
            <p>O.No:1000047</p>
            <p>O.Date:11-3-2021</p>
          </div>
          <div class="right">
            <button type="button" class="btn btn-success">
              Delivered<br />Pending
            </button>
          </div>
        </li>
        <li>
          <div class="text">
            <h5>Shama Sen</h5>
            <p><strong>Price: &#8377; 5,300.00</strong></p>
            <p>O.No:1005047</p>
            <p>O.Date:5-3-2021</p>
          </div>
          <div class="right">
            <button type="button" class="btn btn-success">
              Delivered<br />Pending
            </button>
          </div>
        </li>
        <li>
          <div class="text">
            <h5>Koushik Das</h5>
            <p><strong>Price: &#8377; 4,200.00</strong></p>
            <p>O.No:1000017</p>
            <p>O.Date:1-3-2021</p>
          </div>
          <div class="right">
            <button type="button" class="btn btn-success">
              Delivered<br />Pending
            </button>
          </div>
        </li>
        <li>
          <div class="text">
            <h5>Manik Das</h5>
            <p><strong>Price: &#8377; 3,240.00</strong></p>
            <p>O.No:1000117</p>
            <p>O.Date:1-2-2021</p>
          </div>
          <div class="right">
            <button type="button" class="btn btn-success">
              Delivered<br />Pending
            </button>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="footer">
    <ul>
      <li>
        <i class="fa fa-home" aria-hidden="true"></i>
        <p>Home</p>
      </li>
      <li>
        <i class="fa fa-address-book" aria-hidden="true"></i>
        <p>Customers</p>
      </li>
      <li>
        <i class="fa fa-cube" aria-hidden="true"></i>
        <p>Products</p>
      </li>
      <li class="active">
        <i class="fa fa-gift" aria-hidden="true"></i>
        <p>Order</p>
      </li>
      <li>
        <i class="fa fa-truck" aria-hidden="true"></i>
        <p>Delivery</p>
      </li>
    </ul>
  </div>
  <div class="overlay"></div>
</div>
<div class="addcustomerhome">
  <a routerLink="/addneworder"
    ><i class="fa fa-plus" aria-hidden="true"></i>Add New Order</a
  >
</div>
<app-footer></app-footer>
