<app-subheader></app-subheader>
 
<div class="mainbody">


  <div class="subs">
    <h4>G Accounting + Order Bharat Business Mobile</h4> 
    <p>Unlimited Customer</p>
    <p>Unlimited Invoice</p>
    <p>Features List</p>
    <p>360 Days</p>
    <p>Phone Support: Yes</p>
    <p>Email Support: Yes</p>
    <h5>6,000 + 18% GST = 7,080/-</h5>
    <!-- <p><a href="https://pmny.in/RIXhqzyO813M" class="paynowbutton">Pay Now</a></p> -->
    <input [disabled]="isdes" type="submit" class="btn btn-success" value="Pay Now" (click)="submitquery()" />
    <p id="addwallt" tyle="text-align: center;
    font-size: 21px;
    font-weight: 500;color:green">{{ addwal }}</p>
  </div>


</div>
<!-- <div class="adds"><img src="assets/images/add.jpg"></div> -->
<app-footer></app-footer>
