<div class="wrapper">
  <!-- Sidebar  -->
  <div class="overlay"></div>

  <div id="content">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <div class="leftbar">
        <div (click)="goBack()">
          <i class="fa fa-arrow-left" aria-hidden="true"></i>
        </div>
        <div class="name text-left appsnametop">&nbsp; {{title}}</div>
      </div>
        <ul class="homeheader">
          <!-- <li (click)="gotocart()">
            <i class="fa fa-phone" aria-hidden="true"></i>
          </li> -->
        </ul>
      </div>
    </nav>
  </div>
</div>
