<app-subheader></app-subheader>

<div class="mainbody">
  <div class="businesscategorylist">
    <form class="businessquery">
      <div class="form-group">
      <input type="text" name="accountname"  [(ngModel)]="accountname"  placeholder="Account Holder Name" class="form-control" >
</div>

<div class="form-group">
  <input type="text" name="accountnumbar"  [(ngModel)]="accountnumbar"  placeholder="Account Number" class="form-control" >
</div>

<div class="form-group">
  <input type="text" name="ifccode"  [(ngModel)]="ifccode"  placeholder="IFC Code" class="form-control">
</div>

<div class="form-group">
  <input type="text" name="ifccode"  [(ngModel)]="opening_balance"  placeholder="Opening balance" class="form-control">
</div>

      <div class="form-group">
        <select class="form-control" [(ngModel)]="accounttype" name="accounttype">
          <option value="0">----Account Type----</option>
          <option value="Current Account" >Current Account</option>
          <option value="Savings Account" >Savings Account</option>
        </select>
      </div>     

      <div class="fullbutton">
        <input type="submit" value="Update"  (click)="submitquery()"/>
      </div>
    </form>

    <div class="details">
    <div class="form-group">
      <input type="text" readonly [(ngModel)]="bank_name"  placeholder="Bank name" class="form-control">
    </div>
    <div class="form-group">
      <input type="text" readonly [(ngModel)]="branch_area"  placeholder="Bank area" class="form-control">
    </div>
    <div class="form-group">
      <input type="text" readonly [(ngModel)]="bank_address"  placeholder="Bank address" class="form-control">
    </div>
    </div>
  </div>
</div>

<app-footer></app-footer>